<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>UbiKTE | {% block tituloPag %} SAM {% endblock %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <script src="{{ baseMedia() }}/Generales/js/Angular.js"></script>
  <script src="{{ baseMedia() }}/Generales/js/angular-ui-bootstrap-modal.js"></script>
  {% block extraScriptTop %}{% endblock %}

  <!-- Bootstrap 3.3.5 -->
  <link rel="stylesheet" href="{{ baseMedia() }}/Generales/bootstrap/css/bootstrap.min.css">
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="{{ baseMedia() }}/Generales/plugins/datatables/dataTables.bootstrap.css">

  <!-- jvectormap -->
  <link rel="stylesheet" href="{{ baseMedia() }}/Generales/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ baseMedia() }}/Generales/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{{ baseMedia() }}/Generales/dist/css/skins/_all-skins.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {% include "/__base/header.html" %}
  {% include "/__base/panelIzquierdo.html" %}

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

{% block titulo_contenido %}
      <h1>
        UbiKTE
        <small>SAM 0.1</small>
      </h1>
{% endblock %}


{% block breadcrumb %}
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio </a></li>
      </ol>
{% endblock %}
    </section>


{% block contenido %} {% endblock %}
  </div>
  <!-- /.content-wrapper -->
  {% include "/__base/footer.html" %}

</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.0 -->
<script src="{{ baseMedia() }}/Generales/plugins/jQuery/jQuery-2.2.0.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="{{ baseMedia() }}/Generales/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="{{ baseMedia() }}/Generales/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="{{ baseMedia() }}/Generales/dist/js/app.min.js"></script>
<!-- Sparkline -->
<script src="{{ baseMedia() }}/Generales/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="{{ baseMedia() }}/Generales/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="{{ baseMedia() }}/Generales/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="{{ baseMedia() }}/Generales/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS 1.0.1 -->
<script src="{{ baseMedia() }}/Generales/plugins/chartjs/Chart.min.js"></script>

<!-- AdminLTE for demo purposes -->
<script src="{{ baseMedia() }}/Generales/dist/js/demo.js"></script>


{% block extraScript %}{% endblock %}


</body>
</html>
