<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- sidebar menu: : style can be found in sidebar.less -->
			<ul class="sidebar-menu">
				<li class="header">MENU PRINCIPAL</li>

				<li class="treeview {{ uriActivo(0, "ubicacion") }}">
					<a href="#">
						<i class="fa fa-cart-arrow-down"></i> <span>Ubicacion</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu ">
						<li class="{{ uriActivo(1, "historial") }}">
							<a href="/ubicacion/historial/"><i class="fa fa-book"></i> Historial </i></a>
						</li>

						<li class="{{ uriActivo(1, "visor") }}">
							<a href="/ubicacion/visor/"><i class="fa fa-map-o"></i> Visor </a>
						</li>

					</ul>
				</li>

				<li class="treeview {{ uriActivo(0, "Unidades") }}">
					<a href="#">
						<i class="fa fa-commenting-o"></i> <span>Unidades</span>
						<i class="fa fa-angle-left pull-right"></i>
					</a>
					<ul class="treeview-menu">
						<li class="{{ uriActivo(1, "Crear") }}">
							<a href="#"><i class="fa fa-circle-o"></i> Crear </a>
						</li>
						<li class="{{ uriActivo(1, "Visor") }}">
							<a href="#"><i class="fa fa-map-o"></i> Visor </i></a>
						</li>

					</ul>
				</li>


			</ul>
		</section>
		<!-- /.sidebar -->
	</aside>