{% extends "/__base/base.html" %}

{% block tituloPag %} UBICACION {% endblock %}

{% block extraScriptTop %}
	<!-- Controlador -->
	<script src="{{ baseMedia() }}/Ubicacion/controllerUbicacion.js"></script>

    

    <style>
      	.contenedor_mapa
		{
			width:100%;
			height:100%;
			position: absolute !important;
		}
    </style>


{% endblock %}

{% block titulo_contenido %}
	  <h1>
		UBICACION
		<small>Visor</small>
	  </h1>
{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-cart-arrow-down"></i> Ubicación </a></li>
		<li><i class="fa"></i> Visor </li>
	</ol>
{% endblock %}

{% block contenido %}

    <div id="map" class="contenedor_mapa box"></div>

    <script>

	      function initMap() {
	        var myLatLng = {lat: 16.721373, lng: -92.634497};

	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 15,
	          center: myLatLng
	        });

	        var marker = new google.maps.Marker({
	          position: myLatLng,
	          map: map,
	          title: 'Hello World!'
	        });
	      }    	


    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap"> </script>

{% endblock %}
