{% extends "/__base/base.html" %}

{% block tituloPag %} UBICACION {% endblock %}

{% block extraScriptTop %}
	<!-- Controlador -->
	<script src="{{ baseMedia() }}/Ubicacion/controllerUbicacion.js"></script>
{% endblock %}

{% block titulo_contenido %}
	  <h1>
		UBICACION
		<small>Historial</small>
	  </h1>
{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-cart-arrow-down"></i> Ubicación </a></li>
		<li><i class="fa"></i> Historial </li>
	</ol>
{% endblock %}

{% block contenido %}

		<!-- Main content -->
		<section class="content" ng-app="appProveedores" ng-csp>

        	<!-- Application buttons -->
			<div class="box" ng-controller="accionesAplicacion" >
				<div class="box-header">
					<h3 class="box-title">Proveedores</h3>
				</div>
				<div class="box-body">
					<div class="pull-right">
						<a class="btn btn-app" ng-click="agregarProveedor()">
							<i class="fa fa-edit"></i> Agregar
						</a>
						<a class="btn btn-app" ng-click="listarProveedores()">
							<i class="fa fa-users"></i> Listar
						</a>
						
					</div>
				</div>
			<!-- /.box-body -->
			</div>
			<!-- /.box - Controles app-->

			<div class="box" ng-controller="formularioProveedor" ng-show='verFormularioProveedores'>
				<div class="box-header">
					<h3 class="box-title">Proveedor</h3>
				</div>
				<div class="box-body">
					 <h1>Formulario</h1>
				</div>
			<!-- /.box-body -->
			</div>
			<!-- /.box - Agregar/Modificar proveedor-->

			<div class="row" ng-controller="tablas" ng-show='verListaProveedores' data-ng-init="init()">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">Lista de proveedores</h3>
							<div class="box-tools">
								<div class="input-group input-group-sm" style="width: 150px;">
									<input type="text" name="table_search" class="form-control pull-right" ng-model="buscador" placeholder="Buscardor...">

									<div class="input-group-btn">
										<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
									</div>
								</div>
							</div>
						</div>
						<!-- /.box-header -->
						<div class="box-body table-responsive no-padding">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Clave</th>
										<th>Proveedor</th>
										<th>RFC</th>
										<th>Telefono</th>
										<th>Nombre comercial</th>
										<th>Estatus</th>
										<th></th>
									</tr>
								</thead>

								<tbody>
									<tr ng-repeat="proveedor in datos | filter:buscador">
										<td>[[ proveedor.Clave ]]</td>
										<td>[[ proveedor.Proveedor ]]</td>
										<td>[[ proveedor.RFC ]]</td>
										<td>[[ proveedor.Telefono ]]</td>
										<td>[[ proveedor.Nombre_Comercial ]]</td>
										<td>
											<small class="label [[ proveedor.Estatus == 'A' ? 'bg-green' : 'bg-red']]">
												[[ proveedor.Estatus == 'A' ? 'ACTIVO' : 'BAJA' ]]
											</small>
										</td>
										<td>
											<button ng-click="editar(proveedor.Clave)" data="[[ proveedor.Clave ]]" class="btn btn-default btn-xs" type="button">Detalles</button>
										</td>
									</tr>
								</tbody>

							</table>
						</div>
						<!-- /.box-body -->
						<div ng-show="loading" class="overlay">
							<i class="fa fa-refresh fa-spin"></i>
						</div>
					</div>
					<!-- /.box -->

				</div>

				<div class="modal fade" tabindex="-1" role="dialog" modal="showModal">
					<div class="modal-dialog" >
						<div class="modal-content">
							<div class="modal-header">
								<button aria-label="Close" data-dismiss="modal" class="close" type="button" ng-click="cancel()">
								<span aria-hidden="true">×</span></button>
								<h4 class="modal-title">[[ detalles.Clave ]] - [[ detalles.Proveedor ]]</h4>
							</div>
							<div class="modal-body">

								<div class="nav-tabs-custom">
									<ul class="nav nav-tabs pull-right">
									  <li class=""><a data-toggle="tab" href="#tab_2-2" aria-expanded="true">Contactos</a></li>
									  <li class="active"><a data-toggle="tab" href="#tab_1-1" aria-expanded="false">Datos fiscales</a></li>
									  <li class="pull-left header"><i class="fa fa-th"></i> Detalles </li>
									</ul>
									<div class="tab-content">
									  <div id="tab_2-2" class="tab-pane">
										The European languages are members of the same family. Their separate existence is a myth.
										For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
										in their grammar, their pronunciation and their most common words. Everyone realizes why a
										new common language would be desirable: one could refuse to pay expensive translators. To
										achieve this, it would be necessary to have uniform grammar, pronunciation and more common
										words. If several languages coalesce, the grammar of the resulting language is more simple
										and regular than that of the individual languages.
									  </div>
									  <!-- /.tab-pane -->
									  <div id="tab_1-1" class="tab-pane active">
										<b>How to use:</b>

										<p>Exactly like the original bootstrap tabs except you should use
										  the custom wrapper <code>.nav-tabs-custom</code> to achieve this style.</p>
										A wonderful serenity has taken possession of my entire soul,
										like these sweet mornings of spring which I enjoy with my whole heart.
										I am alone, and feel the charm of existence in this spot,
										which was created for the bliss of souls like mine. I am so happy,
										my dear friend, so absorbed in the exquisite sense of mere tranquil existence,
										that I neglect my talents. I should be incapable of drawing a single stroke
										at the present moment; and yet I feel that I never was a greater artist than now.
									  </div>
									  <!-- /.tab-pane -->
									</div>
									<!-- /.tab-content -->
								  </div>

							<!-- /body -->
							</div>
							<div class="modal-footer">
								<button class="btn" ng-click="modificar()">Modificar</button>
								<button class="btn" ng-click="eliminar()">Eliminar</button>
								<button class="btn" ng-click="cerrar()">Cerrar</button>
							</div>
						</div>
					</div>
				<!-- /.modal-content -->				
				</div>
			</div>
			<!-- /.row ng TABLAS -->

		</section>
		<!-- /.content -->
{% endblock %}


{% block extraScript %}{% endblock %}
